.sn-component
  .panel.static.body-background-color.body-text-color
    .content
      .panel-section
        .panel-row#main-content
          .panel-column.meta.body-text-color
            .title{"ng-click" => "note.showId = !note.showId"} {{note.content.title}}
            .created{"ng-if" => "note.showId"} ID {{note.uuid}}
            .created Created {{createdAt}}
            .created Updated {{updatedAt}}

          .panel-column.info-sections.body-text-color
            .section
              .title Words
              .info-content {{wordCount}}

            .section
              .title Paragraphs
              .info-content {{paragraphCount}}

          .panel-column.info-sections.body-text-color
            .section
              .title Characters
              .info-content {{characterCount}}

            .section
              .title Read Time
              .info-content {{readTime}}

          .panel-column.segmented-buttons
            .button.default.element-background-color.element-text-color{"title" => "Copy the current date to the clipboard", "ng-click" => "buttonPressed('date')"}
              .label {{copiedDate ? "Copied to Clipboard" : "Copy Date"}}
            .button.default.element-background-color.element-text-color{"title" => "Create a copy of the note", "ng-click" => "buttonPressed('duplicate')"}
              .label Duplicate
            .button.default.element-background-color.element-text-color{"title" => "Copy the note's text to the clipboard", "ng-click" => "buttonPressed('copy')"}
              .label {{copyText || "Copy"}}
            .button.default.element-background-color.element-text-color{"title" => "Save the note as a file", "ng-click" => "buttonPressed('save')"}
              .label Save
            .button.default.element-background-color.element-text-color{"title" => "Start a new email with the note's text", "ng-click" => "buttonPressed('email')"}
              .label Email
